html {
  text-align: center;
  margin: auto;
  font-family: 'Special Elite', cursive;
}

main {
  padding: 2em;
  width: 50%;
  background: #FFF0E0;
  margin: auto;
}

header {
  margin: 4em 0;
}

h1, h2 {
  font-family: 'Voltaire', sans-serif;
}

a {
  text-decoration: none;
  color: #0099CC;
}

button {
  background: #000;
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 0.9em;
  color: #FFF;
  border: none;
  outline: none;
}

button:hover {
  background: #50575D;
}

#info {
  font-family: 'Voltaire', sans-serif;
}

footer {
  top: -1;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}
